
                System.out.println("ka-ching!");
            else if (i % 3 == 0) {
                System.out.println("ka");
            } else if (i % 5 == 0) {
                System.out.println("ching!");
            } else {
                System.out.println(i);
            }
